body {
  margin: 20px;
  padding: 5px 10px;
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-family:serif;
}

#intro{
  background-color: rgb(196, 74, 118);
  font-size:larger;
}

.hi {
  text-align: center;
  color:lavenderblush;
}

.name {
  text-align: center;
  color:rgb(252, 203, 219);
  font-style: italic;
}

.words {
  color:rgb(254, 229, 232);
  text-align: center;
}

.pic{
  margin: 5px;
  padding: 10px 10px;
}

.pic img {
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: flex;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 5px;
  overflow: hidden;
  background-color: rgb(111, 6, 50);
}

li {
  float: left;
}

li a {
  display: block;
  color: aliceblue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: black;
}

li {
  border-right: 1px solid #f5f5f5;
}
#form{
  background-color:rgb(163, 67, 102);
  background-size: 100% 100%;
  color:whitesmoke;
  margin: 30px;
  padding: 12px 20px;
  border: none;
  text-align:center;
}
input{
  width: 100%;
  margin: auto;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid rgb(209, 113, 239);
  border-radius: 4.5px;
  text-align:center;
}
.submit{
  margin: auto;
  padding: 12px 20px;
  border-radius: 5px;
  display: block;
  box-sizing:border-box;
  margin-top: 20px;
}
.submit:hover{
  background-color:rgb(110, 38, 177);
  color:#ffffff;
}